:root {
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.3);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'helvetica', 'Catamaran', sans-serif;
    line-height: 1.6;
    color: #333;
    font-size: 1.1rem;
    background-color: #fff;

}





/* ----------Section-a -----------*/



a {
    text-decoration: none;
    color: var(--secondary-color);
}

ul {
    list-style: none;
}

img {
    width: 100%;
}




.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding 0 2rem;
    height: 100%;
}


.navbar {
    font-size: 1.1rem;
    padding: 1rem 0.7rem;
    position: relative;
    background-color: #fff;
    opacity: 0.5;

}

.navbar:hover {
    opacity: 1;

}

.logo {
    color: #1BA8ED;
    font-weight: bold;

}



.navbar .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: fade-in 6s ease-in;



}



.navbar .nav {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav li {
    padding: 0.5rem;


}



.navbar a:hover {
    border-radius: 30px;
    opacity: 0.9;
    color: white;

}

.nav-btn {
    width: 150px;
    text-align: center;
    height: 40px;

}


.navbar i:hover {
    font-size: 1rem;
    color: #1BA8ED;
}



.btn-menu {
    border-radius: 30px;
    padding: 10px 30px;
}


/*----- Section-a -----*/

.section-a {
    margin-top: 30px;
    height: 60vh;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #fff;
    display: flex;
    text-align: center;


}

.section-a .container {

    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    display: flex;
    padding-bottom: 120px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.section-a-inner {
    margin-bottom: 80px;

}


.section-a h1 {
    font-size: 4rem;
    color: var(--primary-color);
    margin-bottom: 10px;
    margin-top: 50px;
    border-bottom-right-radius: 10px;


}


.section-a img{
    min-width: 300px;
}


section-a p {
    margin: 2rem 0;
}

#bold {
    font-weight: bold;
    margin-top: 5px;
}

.btn {
    display: inline-block;
    background-color: #1BA8ED;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: white;
    animation: fade-in 6s ease-in;
    justify-content: center;
    align-items: center;

}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {

        opacity: 1;

    }
}

.btn:hover {

    background-color: #28bde9;
    ;
}






/* ----------Section-b -----------*/
/* ----------Section Hidden -----------*/
.section-b {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 220, 0, 1) 0%, rgba(255, 193, 7, 1) 47%);
    height: 60vh;
    width: 100%;
    padding-top: 20px;
    margin-top: 10px;
}






.section-b-inner {
    color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding-top: 12rem;
    margin-top: 1rem;

}

.section-b-inner img {
    width: 80%;
    margin-bottom: 60px;

}


/* ----------Section-c -----------*/

.section-c {
    height: 100%;
    margin-bottom: 3fr;
    padding: 5px;
    50px;


}

.section-c i {
    font-size: 30px;
    margin-bottom: 10px;
}

.icon-1,
.icon-4 {
    color: #1BA8ED;
    797ef6
}


.icon-2 {
    color: #797ef6;
}

.icon-3 {
    color: #4ADEDE;
}




.section-c div {
    width: 80%;
    margin: auto;
    padding: 20px;
    height: 220px;

    border-bottom-left-radius: 30px;
    border-top-right-radius: 20px;

}

.section-c {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
    margin-top: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1.5rem 1rem;
    height: 100%;
    margin-bottom: 50px;
    z-index: 4;
    position: relative;
    height: 55vh;



}

.section-c h4 {
    margin-bottom: 5px;
    font-weight: bold;
}

.section-c p {
    margin-bottom: 10px;
}


.spacer {
    margin-bottom: 150px;
    padding-bottom: 30px;
}





/* ----------Section-D -----------*/

.fbcontainer {
    margin: 0 auto 15em auto;
}

.btn-list ul {
    display: block;
    margin-top: 10px;
}


.btn-list li {
    padding: 5px 10px;
    background-color: #4ADEDE;
    border-radius: 30px;
    margin: 2px 2px;
    display: inline-block;


}


.btn-list li:hover {
    cursor: pointer;
    color: white;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

button {
    border-radius: 20px;
    border: 2px solid black;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


button:hover {
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05);
}



button:focus {
    outline: none;
}




button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.fbcontainer {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 1000px;
    max-width: 100%;
    min-height: 600px;
    margin-top: 20px;

}

.fbcontainer h1 {
    color: var(--primary-color);
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;

}

.front-end-container {
    left: 0;
    width: 50%;
    z-index: 2;
    color: var(--primary-color);
}

.fbcontainer.right-panel-active .front-end-container {
    transform: translateX(100%);
}

.back-end-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    color: var(--primary-color);
}

.fbcontainer.right-panel-active .back-end-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.fbcontainer.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #1BA8ED;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: black;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.fbcontainer.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.fbcontainer.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.fbcontainer.right-panel-active .overlay-right {
    transform: translateX(20%);
}


/*------Section E / Tabs-------- */

.section-e i {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}



.tabs {

    width: 90%;
    margin: 0 auto 20px auto;
    height: 100%;

}

.tab-item {
    display: flex;
    flex-direction: column;
    box-shadow: 12px 8px 15px #888888;
    height: 100px;
    width: 90%;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;

}

.tab-item:hover {
    color: white;
    opacity: 0.9;
}





.tab-content-item img {
    width: 100%;

}




.tab-content-item {
    min-height: 300px;
    height: 60vh;

}




.tabs {

    padding-top: 1em;
    padding: 1rem 0;




}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.tab-border {
    border-bottom: solid 4px red;
    border-radius: 3px;
    width: 85%;
}

#tab-1 {
    background-color: #28BDE9;
}

#tab-2 {
    background-color: #4ADEDE;
}


#tab-3 {
    background-color: #797EF6;
}










.container {
    margin: auto;
    max-width: 90%;
    overflow: hidden;
    padding: 0 1rem;
}


#tab-2-content,
#tab-3-content {
    display: none;
}





#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    color: black;


}


.tab-content {
    padding: 3rem 0;
    color: white;

}


#tab-2-content .tab-2-content-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    color: black;


}


#tab-3-content .tab-3-content-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    color: black;

}



/*------Section f / chat-------- */


.section-f a {
    color: #fff;
}

.chat {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    height: 100%;
    padding-bottom: 20px;
    font-size: 25px;
}

.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
}

.yours {
    align-items: flex-start;
}

.yours .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
}

.yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
}

.yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
}

.mine {
    align-items: flex-end;
}

.mine .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #1BA8ED 0%, #1BA8ED 100%);
    background-attachment: fixed;
    position: relative;
}

.mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #1BA8ED 0%, #1BA8ED 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 10px;
}

.mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
}






/*------Footer-------- */

footer{
    background-color: #1a9edb;
    height: 100px;
    width: 100%;
    color: white;
    margin-top: 30px;
}

footer p {
  display: flex;
    width: 100%;
    height: 100%;
   
    align-items: center;
    text-align: center;
    align-content: center;
    font-size: 12px;
    

}




/*------@Meida-------- */
@media(max-width: 1200px) {

    .section-c div {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .section-d {
        margin-top: 70px;
    }








}


/*------meida--- 920px-------- */
@media(max-width: 920px) {



    .section-a .container {
        margin-top: -40px;
        margin-bottom: 20px;
        width: 90%;
    }


    .section-a h1 {
        font-size: 3rem;
    }


}



/*------meida--- 760px-------- */

@media(max-width: 760px) {
    .section-a .container {
        text-align: center;
        margin: auto;


    }

    section-a {
        align-items: center;
        justify-content: center;
        text-align: center;
        align-content: center;
    }


    body::after {
        left: -15%;
        top: -2%;
        right: -8%;
        opacity: 0.7;
    }

    .navbar{
        display: none;
    }


    .section-a {
        padding: 5px;
        align-items: center;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin-bottom: 20px;
        height: 100%;
        background-color: aliceblue;
    }


    .section-a h1 {
        font-size: 20px;
        margin-bottom: 10px;
    
    }

    .section-a .container img {
        display: none;
    }



    .section-a .container {
        grid-template-columns: 1fr;
        grid-gap: -50px;


    }

    .section-a .container h1 {
        font-size: 25px;
    }




    .section-c {
        grid-template-columns: 1fr;
        height: 100%;

    }




    .section-c {
        width: 100%;
        height: 100%;
    }

    .section-p {
        width: 100%;
        height: 100%;
    }


}



/*------meida/Mobile--- 415px-------- */

@media(max-width: 415px) {


    .section-a {
        height: 400px;

    }

    .spacer {
        margin-bottom: 460px;
    }




    .section-d {
        display: none;
    }

    .chat {
        width: 100%;
        font-size: 18px;
        padding: 0 0;
        margin-top: 20px;
    }
    
    .tab-item{
        width: 70px;
        height: 55px;
    }


    .tab-item p {
     display: none;   
    }
